body {
    background-color: #e4e6e4;
    font-family: Comfortaa;
    
}
.art-page {
    color: gray;
}
.art-line {
    padding-left: 100px;
}
.card {
    margin-left: 100px;
    padding: 10px;
}
.card-body {
    padding-left: 50px;
    padding-top: 0;
}

.pagination {
    margin-right: 25px;
}
.page-link {
    color: #017b64;
}

.footer-text {
    font-size: 12px;
    color: grey;
    padding-left: 15px;
}
p {
    font-size: 10px;
}